body {
	font-family: Arial, sans-serif;
}

h4{
	margin-top: 20px;
}

.list-section{

	margin:5px 0 ;
}

.main {
    width: 400px;
    margin: auto;
    position: relative;
}

.input{
	margin-bottom:5px;
}
	
.input input{
	padding: 5px 0; 
}

.input #input{
	
	padding: 5px 0;
}

.submit input {
	padding: 5px ;
}

.form-section{
	display: block;
}

.submit{
	margin-top: 5px;
}
/*form input[type=text] {
    width: 100%;
    margin-top: 5px;
    line-height: 20px;
}
form input[type=submit] {
    margin-top: 5px;
    position: relative;
    float: right;
}*/
